IPy==0.82a
Pillow==2.7
miniupnpc==1.9
psutil==2.2.0
bitcoin==1.1.25
pycountry==1.10
pyelliptic==1.5.5
pysqlcipher==2.6.4
pystun==0.1.0
python-gnupg==0.3.7
python-obelisk==0.1.3
pyzmq==14.4.1
qrcode==5.1
requests==2.5.1
tornado==4.0.2
Twisted==14.0.2
rfc3986==0.2.0
dnschain==0.1.0
