<!-- Product Catalog -->
    <div data-ng-show="contractsPanel" class="animated fadeInLeft">
    <div data-ng-controller="ProductModal" >

    </br>

    <div class="row">
        <div class="col-sm-3">
            <h3>My Contracts</h3>
        </div>
        <div class="col-sm-9">
            <div class="btn-toolbar" style="float:right">
                <button class="btn btn-info" data-ng-click="republishContracts()" style="float:right; padding:10px"><span class="glyphicon glyphicon-upload"></span> Republish</button>
                <button class="btn btn-success" data-ng-click="open('lg')" style="float:right; padding:10px">Add Contract</button>
            </div>
        </div>
    </div>
    
    <p></p>

    <div style="text-align:right" data-ng-show="total_contracts.length > 0">
        <pagination total-items="total_contracts" num-pages="contracts_pages" data-ng-change="contracts_page_changed()" data-ng-model="contracts_current_page" max-size="4" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true"></pagination>
    </div>

    <div data-ng-show="undo_remove" class="alert alert-danger">Are you sure you wanted to delete that contract?<a data-ng-href="" data-ng-click="undoRemoveContract(undo_contract_id)" class="alert-link" style="cursor:pointer">Undo</a></div>

      <div class="table-responsive">
        <table data-ng-show="total_contracts > 0" class="rtable table-striped table-bordered contract-table">
        <thead class="rthead">
          <tr class="rtr">
            <th class="col-sm-3 col-xs-3 rth" >Product</th>
            <th class="col-sm-2 col-xs-2 rth" >Images</th>
            <th class="col-sm-1 col-xs-1 rth" >Quantity</th>
            <th class="col-sm-2 col-xs-2 rth" >&nbsp;Price&nbsp;</th>
            <th class="col-sm-1 col-xs-1 rth" >Shipping</th>
            <th class="col-sm-2 col-xs-2 rth" >Control</th>
          </tr>
        </thead>

        <tbody class="rtbody">
          <tr data-ng-repeat="contract in contracts" id="contract-row-{{contract.id}}" class="rtr">
          <!-- Product -->
            <td data-label="Product" class="rtd"> 
              <a class="contract-title" data-ng-click="editContract(contract)">
              {{contract.item_title}}</a>
              <p>{{contract.item_desc}}</p>
              <p><span class="condition">Condition:</span> {{contract.item_condition}}</div>
              <div class="signed-contract">
              <pre class="signed-contract" style="height:200px;text-overflow:auto;font-size:12px;">{{contract.signed_contract_body}}</pre></span>
               </div>
             </td>
           <!-- Image -->
             <td data-label="Images" class="rtd images">
               <br>
               <img class="contract-image" data-ng-if="contract.item_remote_images" ng-src="{{contract.item_remote_images[0]}}" />
           </td>
                            
         <!-- Quantity -->
           <td data-label="Quantity" class="rtd">{{contract.item_quantity_available}}</td>

         <!-- Unit Price -->
           <td data-label="Price" class="rtd">&#3647; {{contract.unit_price}}<br/></td>
                            
         <!-- Shipping Price -->
           <td data-label="Shipping Price" class="rtd">&#3647; {{contract.shipping_price}}</td>
                            
         <!-- Edit and Remove Contract -->
           <td class="rtd">
             <div>
               <button type="button" class="btn contract btn-warning btn-sm" data-ng-click="editContract(contract)">
                 <span class="glyphicon glyphicon-edit"></span> Edit
               </button>
             </div>
             <div>
               <button type="button" class="btn contract btn-danger btn-sm" data-ng-click="removeContract(contract.id)">
               <span class="glyphicon glyphicon-trash"></span> Remove
               </button>
             </div>
           </td>
       </tr>
     </tbody>
   </table>
 </div>

 <div class="col-sm-12" data-ng-show="total_contracts == 0">
   <p>There are no listings for your marketplace.</p>
 </div>

</div>
</div>
