<div data-ng-show="myInfoPanel" class="animated fadeInLeft">

    <div class="jumbotron">
        <h2>Getting started</h2>

        <h3>Set Up Your Store</h3>

        Add a Bitcoin address you own in case of refunds, be sure to hit save in <strong>Settings</strong>, and make a backup of your keys in the <strong>Backup</strong> section.

        <div>
          <img class="demo-gif" src="//i.imgur.com/28L8coh.gif" alt="Setting up a Bitcoin address for refunds.">
        </div>

        <h3>Select a Notary</h3>

        Notaries are a trusted third party to prevent scams. Only select a notary you trust, especially for larger transactions. For test transactions, you can use the "Test Notary."

        <div>
            <img class="demo-gif" src="//i.imgur.com/xp8kgug.gif" alt="Choosing a notary." />
        </div>

        <h3>Put an Item Up for Sale or Find an Item to Buy</h3>

        If selling an item, be sure to use descriptive keywords. Click on the markets you see on the right side of the screen to view their items, or use the search bar above.
        <br/><br/>
        You can directly contact other online users by selecting the blue Message Me button in their store front. Manage your messages in the <strong>Messages</strong> tab.

        <div>
            <img class="demo-gif" src="//i.imgur.com/jAtFHXV.gif" alt="Setting up a new contract." />
        </div>

        Your purchases and sales are in the <strong>Orders</strong> tab.
        <br/><br/>
        Please report problems to our <a href="http://github.com/OpenBazaar/OpenBazaar/" target="_blank">Github</a> or <a href="http://www.reddit.com/r/OpenBazaar" target="_blank">subreddit</a>. Enjoy!
    </div>
</div>
